---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
            <hr>
            <p>
              {% if page.previous.url %}
                <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
              {% endif %}
              {% if page.next.url %}
                <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
              {% endif %}
            </p>
            <div class="clearfix"></div>
        </section>

        <footer>
            <div class="pure-g-r">
              <div class="pure-u-1">
                {% if site.subscribe_by_email %}
                <h4>Want articles and awesome free goodies sent directly to your inbox?</h4>
                <div id="mc_embed_signup">
                  <form action="http://websymphony.us7.list-manage.com/subscribe/post?u=afd039b5569172b8117cf74e8&amp;id=1c52ad364e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate pure-form" target="_blank" novalidate>
                      <div class="mc-field-group">
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
                        <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="pure-button pure-button-primary">
                      </div>
                  </form>
                  <div class="muted">I won't spam you, promise! Unsubscribe at any time.</div>
                </div>
                <br>
                {% endif %}
                {% if site.inc.sharing.twitter %}
                <div>
                    <p class="text-center">
                      <br>
                      Enjoyed the article? Follow me on <a href="https://twitter.com/{{site.inc.twitter}}" target="_blank">Twitter</a>.
                    </p>
                </div>
                {% endif %}
              </div>
            </div>
        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>